<header class="p-3 bg-dark text-white">
    <div class="row align-items-center">
        <div class="col d-flex align-items-center">
            <a class="text-light text-decoration-none d-flex align-items-center" href="/blog">
                <img src="https://img.freepik.com/premium-vector/blogging-vector-illustration_1237743-16712.jpg?w=740" alt="Logo" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
                <h3 class="mb-0">Beyond Boundaries Blog</h3>
            </a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end gap-4">
                <a style="font-size: 20px" class="text-light text-decoration-none" href="/blog">Home</a>
                <a style="font-size: 20px" class="text-light text-decoration-none" href="/blog/about">About</a>
                <a style="font-size: 20px" class="text-light text-decoration-none" href="/blog/contact">Contact</a>
            </div>
        </div>
    </div>
</header>